body {
    background-image: url("https://gustavoguanabara.github.io/html-css/imagens/mascote.png");
    height: 98vh;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center top;
}