body {
    background-image: url(images/espaco.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
