* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__content {
    background-color: aqua;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.301);
    padding: 10px;
}

p {
    font-family: monospace;
    color: rgba(0, 0, 0, 0.555);
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
}

@media (max-width: 1400px) {
    .container {
        flex-wrap: wrap;
    }
    .container__content {
        max-width: 250px;
    }
}

